$bgcolor: white;
$secondTextColor: #82828E;

@mixin header-element {
    padding: 24px 18px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  list-style-type: none;
}
.body{
  &__image{
    display:block;
    width: 100%;
  }
}
.header{
  display: flex;
  align-items: center;
  color: $bgcolor;
  flex-flow: column wrap;
  background-image: url("./images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  min-height: 143vw;
  &__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
  }
  &__menu-button{
    cursor: pointer;
    height: 18px;
    width: 24px;
  }
  &__nav-mobile{
    position: absolute;
    top:18%;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: white;
    color: black;
    padding: 36px;
    
    &::before{
      content: "";
      position: absolute;
      right: 0;
      top: -24px;
      width: 0; 
      height: 0; 
      border-left: 24px solid transparent;
      border-bottom: 24px solid white;
    }
  }

  &__nav-desktop{
    display: none;
  }
  &__logo{
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title{
    margin: 14vw 0px;
    font: small-caps 800 3.2rem 'Fraunces', serif;
    letter-spacing: 0.3rem;
    text-align: center;
  }
  &__arrow{
    width: 30px;
  }
}

.nav{ 
  &__link{
    cursor: pointer;
    margin: 10px;
    height: 54px;
    width: 140px;
    border-radius: 30px;
    font: 600 1.2rem 'Barlow', sans-serif;
    color: #797782;
    &>a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: #797782;
    }
    &_active{
      &>a{
        color:black;
      }
      background-color: #FBD601;
      font: small-caps 800 1.4rem 'Fraunces', serif;
    }
  }
}
.main{
  display: flex;
  flex-flow: row wrap;
}
.company-info{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 30px 24px;
  text-align: center;
  &__title{
    font-size: 2rem;
    font: bold 2.2rem 'Fraunces', serif;
    margin: 14px 0;
  }
  &__text{
    font-size: 2rem;
    font: 600 1.1rem 'Barlow', sans-serif;
    margin: 14px 0px;
    line-height: 2rem;
    color: #838288;
  }
  &__link{
    position: relative;
    font-size: 2rem;
    font: small-caps 700 1.4rem 'Fraunces', serif;
    margin: 14px 0;
    color: black;
    &::after{
      z-index: -1;
      content: '';
      position: absolute;
      bottom: -2px;
      left: -5%;
      height: 10px;
      width: 110%;
      border-radius: 30px;
      transition: background-color 0.3s ease-out;
    }  
  }
  &:nth-child(2) > &__link::after{
    background-color: #FCF0B6;
  }
  &:nth-child(4) > &__link::after{
    background-color: #FDD8D4;
  }
  &:nth-child(2) > &__link:hover::after{
    background-color: #F1D414;
  }
  &:nth-child(4) > &__link:hover::after{
    background-color: #FE7865;
  }
  
}

.company-service {
  height: 160vw;
  display: flex;
  align-items: flex-end;
  padding: 40px 0;
  &__description{
    text-align: center;
    width: 100%;
    padding: 16px;
  }
  &__title{
    font: 700 1.8rem 'Fraunces', serif;
    margin: 20px 0;
  }
  &__text{
    font: 600 1rem 'Barlow', sans-serif;
    line-height: 1.6rem;
    margin: 40px 0 0;
  }
}
.graphic-design{
  background-image: url("./images/mobile/image-graphic-design.jpg");
  background-size: cover;
  background-position: center center;
  color: hsl(167, 40%, 24%);
}
.photography{
  background-image: url("./images/mobile/image-photography.jpg");
  background-size: cover;
  background-position: center center;
  color: hsl(198, 62%, 26%);
}
.testimonals{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  width: 100%;
  &__title{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font: small-caps 700 1.4rem 'Fraunces', serif;
    color: #9D9EA0;
    letter-spacing: 0.3rem;
  }
}
.client{
  max-width: 360px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 20px 10px;
  &__image{
    width: 70px;
    margin: 60px 0 20px;
    border-radius: 35px;
  }
  &__testimony{
    margin: 20px 0px;
    font: 600 1.2rem 'Barlow', sans-serif;
    text-align: center;
    line-height: 1.8rem;
    color: #686868;
  }
  &__name{
    font: 800 1.2rem 'Fraunces', serif;
    margin: 10px 0;
  }
  &__ocupation{
    color: #A2A2A2;
    font: 600 0.9rem 'Barlow', sans-serif;
  }
}
.image-gallery{
  display: flex;
  flex-flow: row wrap;
  margin-top: 80px;
  width: 100%;
  &__item{
    width: 50%;
    height: 50vw;
    background-size: cover;
    background-position: center center;
  }
  &_milkbottles{
    background-image: url("./images/mobile/image-gallery-milkbottles.jpg");
  }
  &_orange{
    background-image: url("./images/mobile/image-gallery-orange.jpg");
  }
  &_cone{
    background-image: url("./images/mobile/image-gallery-cone.jpg");
  }
  &_sugar-cubes{
    background-image: url("./images/mobile/image-gallery-sugar-cubes.jpg");
  }
}

.footer{
  background-color: #90D4C5;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  &__title{
    font: 800 2.4rem 'Barlow', sans-serif;
    opacity: 50%;
    margin: 46px 0 40px;
  }
  &__nav{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    color: hsl(168, 34%, 41%);
    font: 600 1.2rem 'Barlow', sans-serif;
  }
  &__link{
    margin: 20px;
    cursor: pointer;
    &:hover{
      color: white;
    }
  }
}
.socials{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 40%;
  margin:  60px;
  &__link{
    margin: 10px;
    cursor: pointer;
    fill:white;
  }
}

@media (min-width: 720px) {
  .header{
    background-image: url("./images/desktop/image-header.jpg");
    width: 100%;
    min-height: 55.5vw;
    
    &__title{
      margin: 7vw 0px 7vh;
      font-size: 4rem;
    }
    &__nav-mobile{
      display: none;
    }
    &__menu-button{
      display: none;
    }
    &__nav-desktop{
      display: block;
    }
  }
  .nav{
    &__list{
      display: flex;
    }
    &__link{
      color: white;
      &>a{
        color: white;
        &:hover{
          color:white;
        }
        
      }
      &_active{
        background-color: white;
        &>a{
          color: black;
        }
      }
      &:hover{
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    
  }
  .main{
    &__item{
      width: 50%;
      &:nth-child(1){
        order: -1;
      }
      &:nth-child(2){
        order: -2;
      }
    }
  }
  .company-service{
    height: 41.6vw;

  }
  .photography{
    background-image: url("./images/desktop/image-photography.jpg");
  }
  .graphic-design{
    background-image: url("./images/desktop/image-graphic-design.jpg");
  }
  .image-gallery{

    &__item{
      width: 25%;
      height: 31vw;
    }
    &_milkbottles{
      background-image: url("./images/desktop/image-gallery-milkbottles.jpg");
    }
    &_orange{
      background-image: url("./images/desktop/image-gallery-orange.jpg");
    }
    &_cone{
      background-image: url("./images/desktop/image-gallery-cone.jpg");
    }
    &_sugar-cubes{
      background-image: url("./images/desktop/image-gallery-sugarcubes.jpg");
    }
  }
}
@media (min-width: 1024px) {
  .company-service{
    padding: 0 15% 40px;
  }
  .company-info{
    align-items: flex-start;
    padding: 8%;
    &__title{
      width: 60%;
      text-align: start;
    }
    &__text{
      margin-left: 5px;
      width: 70%;
      text-align: start;
    }
    &__link{
      margin-left: 20px;
    }
  }
}