$bgcolor: white;
$secondTextColor: #82828E;

@mixin header-element {
  position: absolute;
    padding: 24px 18px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  list-style-type: none;
}
.body{
  &__wrap{
    max-width: 720px;
  }
  &__image{
    display:block;
    width: 100%;
  }
}
.header{
  display: flex;
  justify-content: space-between;
  color: $bgcolor;
  position: relative;
}

.header__nav{
  @include header-element;
  right: 0px;
  top:0px;
  cursor: pointer;
}
.header__logo{
  @include header-element;
  left: 0px;
  top: 0px;
  font: 600 1.4rem Georgia, serif;
}
.header__title{
  @include header-element;
  left: 50%;
  top: 34%;
  transform: translate(-50%, -50%);
  font: small-caps 600 3rem Georgia, serif;
  letter-spacing: 0.3rem;
  text-align: center;
}

.company-info{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 30px 24px;
  text-align: center;
  &__title{
    font-size: 2rem;
    font: bold 2.2rem Georgia, serif;
    margin: 14px 0;
  }
  &__text{
    font-size: 2rem;
    font: 400 1.1rem sans-serif;
    margin: 14px 0px;
    line-height: 2rem;
    color: #838288;
  }
  &__link{
    font-size: 2rem;
    font: small-caps 700 1.2rem Georgia, serif;
    margin: 14px 0;
    color: black;
    // decorate underline
  }
}
.company-service {
  position: relative;
  &__description{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 100%;
    padding: 16px;
  }
  &__title{
    font: 700 1.8rem Georgia, serif;
    margin: 20px 0;
    opacity: 70%;
  }
  &__text{
    font: 500 1rem sans-serif;
    margin: 40px 0;
    opacity: 70%;
  }
}
.testimonals{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 50px 20px;
  &__title{
    margin-top: 20px;
    font: small-caps 700 1.2rem Georgia, serif;
    color: #9D9EA0;
    letter-spacing: 0.3rem;
  }
}
.client{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  &__image{
    width: 70px;
    margin: 60px 0 20px;
    border-radius: 35px;
  }
  &__testimony{
    margin: 20px 8px;
    font: 600 1rem sans-serif;
    text-align: center;
    line-height: 1.8rem;
    color: #686868;
  }
  &__name{
    font: 700 1.2rem serif;
    margin: 10px 0;
  }
  &__ocupation{
    color: #A2A2A2;
    font: 600 0.8rem sans-serif;
  }
}
// &__list{
//   position: absolute;
//   right: 0px;
//   top: 100%;
//   display: flex;
//   flex-flow:column nowrap;
//   color: $secondTextColor;
//   background-color: $bgcolor;
// }